.swiper-button-prev, .swiper-button-next {
  position: absolute !important;
  z-index: 10 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50px !important;
  height: 50px !important;
  background: #4f46e5 !important;
  border-radius: 50% !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px !important;

  &::after {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #f3f4f6 !important;
  }
}

.swiper-button-next {
  margin-left: 8px !important;
}

.swiper-button-prev {
  margin-right: 8px !important;
}

.swiper-pagination-horizontal {
  position: absolute !important;
  z-index: 10 !important;
  left: 50% !important;
  bottom: 0 !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: max-content !important;
  height: max-content !important;
  border-radius: 8px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px !important;
  opacity: 0.5 !important;

  &-active {
    opacity: 1 !important;
  }
}

.primary-slider__bullet{
  background: #4f46e5 !important;

  &--active {
    background: #4f46e5 !important;
  }
}

.black-slider__bullet{
  background: #1f2937 !important;

  &--active {
    background: #374151 !important;
  }
}

.white-slider__bullet{
  background: #f3f4f6 !important;

  &--active {
    background: #f9fafb !important;
  }
}
